@use 'base/mixins' as m;
@use 'base/variables' as v;

.speakers {
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);
        @include m.xl_telefono {
            @include m.grid(2, 5rem);
        }
        @include m.tablet {
            @include m.grid(4, 5rem);
        }
        @include m.xl_desktop {
            @include m.grid(5, 5rem);
        }
    }
}

.speaker {
    @include m.card;
    @include m.telefono {
        background-size: 350px;
    }
    @include m.xl_telefono {
        background-size: 240px;
    }
    @include m.tablet {
        background-size: 180px;
    }
    background-position: center top;
    background-size: 250px; //tamaño del background image
    background-repeat: no-repeat;

    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set(
                url('../img/bg_#{$i}.avif') 1x,
                url('../img/bg_#{$i}.webp') 1x,
                url('../img/bg_#{$i}.png') 1x
            );
        }
    }

    &__imagen {
        min-width: 220px;
        object-fit: cover;
        transition: 0.3s;
        @include m.tablet {
            min-width: unset;
        }
    }
    &__imagen:hover {
        transform: scale(1.1);
    }
    
    &__precio {
        color: rgb(255, 68, 68);
        margin: 0.6rem 0;
        font-size: 1.9rem;
        line-height: 1.5;
        font-weight: v.$regular-fuerte;
    }
    &__listado-skills {
        @include m.tags;
    }
    &__nombre {
        font-size: 2rem;
        color: v.$gris-oscuro;
        font-weight: v.$semi-bold;
        margin-bottom: 0.2rem;
    }
}




.agenda {
    padding: 1rem 0;
    @include m.contenedor;
}
.eventos {
    $modificador: &;
    
    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw,  6rem);
    }

    .swiper-button-next, 
    .swiper-button-prev {
        color: rgba(v.$naranja, .9);
    }
}

.ver__boton {
    @include m.boton(v.$naranja, v.$blanco);
        text-align: center;
        padding: 1.5rem 2rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
}

.evento {

    &__informacion {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: 300ms background-color ease;
        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }

    background-position: center top;
    background-size: 250px; //tamaño del background image
    background-repeat: no-repeat;

    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set(
                url('../img/bg_#{$i}.avif') 1x,
                url('../img/bg_#{$i}.webp') 1x,
                url('../img/bg_#{$i}.png') 1x
            );
        }
    }

    


    &__nombre {
        font-size: 2rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__introduccion {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__autor-info {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    &__imagen-autor {
        width: 5rem;
        background-color: v.$blanco;
        border-radius: 50%;
    }
    &__autor-nombre {
        font-weight: v.$bold;
    }

    &__agregar {
        @include m.boton(v.$blanco, v.$negro);
        margin-top: 1rem;

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}
.boton-index {
    padding: 20px 30px;
    font-size: 16px;
    background-color: v.$azul;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.margin-boton {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.boton-color {
    @include m.boton(v.$azul, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    pointer-events: none; /* Permite que los eventos lleguen a los elementos debajo */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    pointer-events: none; /* Permite que los eventos lleguen a los elementos debajo */
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 90%;
    text-align: center;
    z-index: 3;
}

.popup-container h2 {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    transition: background-color 0.3s ease;
}

.popup-button:hover {
    background-color: #2980b9;
}

.close-btn {
    cursor: pointer;
    font-size: 18px;
    color: #888;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-btn:hover {
    color: #555;
}